body{
    margin-left: 50px;
    padding: 0;
    background-color: whitesmoke;
    font-family: "Roboto-Mono";
}
a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
footer{
    text-align: center;
    padding: 20px;
    margin: 0;

}
